.row {
	margin: 0;
	padding: 0;
	height: 10px;
}
.unit {
	position: absolute;
	margin: 0;
	display: inline-block;
	background-color: lightgray;
	pointer-events: none;
}
.col:hover {
	background-color: darkgray;
}
.semiTarget {
	position: absolute;
	margin: -0.75px;
	border:solid;
	border-color: black;
	border-width: 0.75px;
}
#cursor {
	position: absolute;
	display: none;
	z-index: 5;
}
.mainTarget {
	margin: -1.5px;
	border:solid;
	border-color: black;
	border-width: 1.5px;
}